*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: white;
}

#headerPart{
  position: relative;
  margin-bottom: 50px;
}


#nav{
  display: flex;
  flex-direction: row;
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
}

.navDivLogo{
  width: 35%;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  font-weight: 100;
}

.navDivLogo > a{
  position: absolute;
  top: 40px;
  left: 35%;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: whitesmoke;
}

.navDivHAWSB{
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.navDivHAWSB > a{
  text-decoration: none;
  margin: 35px 20px auto 20px;
  font-size: 11px;
  font-weight: 600;
  color: whitesmoke;
  transition: all ease 0.2s;
}

.navDivHAWSB > a:hover{
  color: #09910f;
  cursor: pointer;
}

.carousel{
    width: 100%;
    height: 100vh;
    position: relative;
}

.podnaslovCarousel{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 100;
  margin-bottom: 40px;
  color: whitesmoke;
}
  
  /* Sakrij slike */
  .mySlides {
    display: none;
    height: 100%;
  }
  
  /* Next and prev */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: 100;
    font-size: 45px;
    transition: 0.6s ease;
    border-radius: 5px 0 0 5px;
    user-select: none; /*Ne dozvoljava selektovanje :)*/
  }
  
  /* Stavi ga desno */
  .next {
    right: 12%;
    border-radius: 0 5px 5px 0;
  }

  .prev {
    left: 12%;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.7);
  }
  
  /* Tekstic */
  .textDiv {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 32%;
    width: 100%;
    text-align: center;
  }

  .naslov{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 15px;
  }

  .podnaslov{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 40px;
    color: #8b8b8b;
    text-align: center;
  }

  .bold{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
  }

  .dotDiv{
      position: absolute;
      width: 100%;
      top: 72%;
      text-align: center;
  }
  
  
  /* Kruzici */
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #016806;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

img{
    width: 100%;
    height: 100%;
}

.carouselImageDiv{
    width: 100%;
    height: 100vh;
}

#aboutUs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 2%;               
  background-color:#12f01e;
  height: 1px;
  margin-bottom: 20px;
}

.crtica{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0d5a11;
    width: 5%;
    height: 1px;
}

.card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto 60px 0 60px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 40px 20px 10px 20px;
}

.krugDiv{
    background-color: #ececec;
    height: 90px;
    width: 90px;
    border-radius: 50px;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: rgb(95, 95, 95);
    transition: ease 0.3s;
}

.krugDiv:hover{
    color: white;
    background-color: #09910f;
}

.cardNaslov{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 25px;
}

.cardPodnaslov{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 40px;
    text-align: center;
    color:#8b8b8b;
}

.divZaDugme{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}


.learnMoreButton{
    border-radius: 50px;
    background-color: #09910f;
    color: white;
    border: none;
    padding: 10px 30px;
    transition: all ease 0.3s;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 11px;
    margin-bottom: 70px;
}

.learnMoreButton:hover{
  background-color: #09690e;
  cursor: pointer;
}

.data-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 60px 80px 5px 80px;
}

.sivkasto{
    background-color: #f5f5f5;
}

.data-image-conteiner{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.data-image1{
  width: 350px;
  height: 250px;
  min-width: 320px;
}

.data-image2{
  width: 250px;
  height: 300px;
  min-width: 200px;
}

.data-information{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.data-information > div{
    width: 100%;
    margin-bottom: 15px;
}

.data-information p{
  text-align: start;
}

@media (max-width: 845px){
  .data-container{
    flex-direction: column;
    padding: 60px 20px 5px 20px;
  }

  .data-information p{
    text-align: center;
  }

  .divZaDugme{
    justify-content: center;
    align-items: start;
  }
}



@media (max-width: 585px){
  .dotDiv{
    top: 80%;
  }

  /*.meniButton{
    display: flex;
  }*/

  /*.navDivHAWSB{*/
    /*display: none;*/
  }

  /*.navDivHAWSB{
    flex-direction: column;
    align-items: center;
    background-color: #09690e;
  }

  .navDivHAWSB a{
    width: 100%;
  }
}*/

@media (max-width: 414px){
  .dotDiv{
    top: 90%;
  }
}